<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, id: 'ck_editor_textarea' %>
  </div>
  <div class="field">
    <%= f.label :meta_tags %><br>
    <%= f.text_field :meta_tags, "data-role" => "tagsinput" %>
  </div>
  <div class="actions">


  <div class="btn-group" role="group" aria-label="Actions">
    <%= f.submit class: "btn btn-success" %>
    <button type="button" class="btn btn-primary">Save draft</button>
    <%= link_to 'Destroy', @page, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>

  </div>
<% end %>
